
header {
  background: linear-gradient(180deg, #3533cd 0%, #5f5de3 100%);
  color: white;
  padding: 15px 30px;
}

.header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
